**/__pycache__/
*.pyc
logs/
checkpoints/
examples/
experiments/
pretrained/
annot/
wandb/
.vscode/
runs/
eval/
*.zip
*.aria2
*.egg-info
*.egg
*.log
/data/FSC/gt_density_map_adaptive_384_VarV2
/data/FSC/images_384_VarV2
/data/Obj365/objects365/val
/data/OImgv7/data
/data/OImgv7/labels.json
/data/LVIS/

.idea